/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/**
 * END --- SETUP TAILWINDCSS EDIT
 */

.game-title {
  color: white;
  font-size: 3rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  .game-title {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .game-title {
    font-size: 1.5rem;
  }
}

